/*□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□*/
/*□                                            □*/
/*□                    Color                   □*/
/*□                                            □*/
/*□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□*/

$black:                #000000;
$gray-20:              #202020;
$gray-50:              #505050;
$gray-70:              #707070;
$gray-90:              #909090;
$gray-a4:              #A4A4A4;
$gray-b8:              #B8B8B8;
$gray-d4:              #D4D4D4;
$gray-e1:              #E1E1E1;
$gray-f1:              #F1F1F1;
$gray-fa:              #FAFAFA;
$white:                #FFFFFF;