/*□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□*/
/*□                                            □*/
/*□               Color_default                □*/
/*□                                            □*/
/*□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□*/

$gray-f6:              #F6F6F6;

$primary-500:          #1F2C51;
$primary-400:          #344063;
$primary-350:          #424E6E;
$primary-300:          #57617F;
$primary-250:          #737C96;
$primary-200:          #9FA5B9;
$primary-150:          #C8CDDB;
$primary-100:          #E5E8F2;
$primary-50:           #F2F4FC;